<h1>emp reg using django model form manually</h1>
<form action="" method="post">
    {%csrf_token%}
    <table border="1" cellspacing="10">
        <tr>
            <th>Name</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <th>Contact</th>
            <td><input type="text" name="contact"></td>
        </tr>
        <tr>
            <th>Age</th>
            <td><input type="text" name="age"></td>
        </tr>
        <tr>
            <th>Address</th>
            <td><input type="text" name="address"></td>
        </tr>

            <td><input type="submit" name="" id="save"></td>
            <td><input type="reset" name="" id="reset"></td>

    </table>
</form>